target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
Project.iml
src/main/resources/hibernate.cfg.xml
/src/main/resources/fr/utbm/entity/*

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
hibernate.cfg.xml
/src/main/resources/hibernate.cfg.xml
/Project.iml
